doctype html
| .
head
  title= title
h1 Tralee Talent Event
br
h2 Events Registration
br
p
  | Select and register on the event you want to attend
br
table
  tr
    th  Name 
    th  Hour 
    th  Day 
    th  Location 
    th  Town 
  each e in event
    tr
      td  #{e.name}
      td  #{e.hour}
      td  #{e.day}
      td  #{e.location}
      td  #{e.town}
